.clicked {
    background-color: #0b0c28;
    color: white;
    padding: 1em;
    user-select: none;
}

.not-clicked {
    background-color: #e6e6e6;
    padding: 1em;
    color: black;
    user-select: none;
}

button {
    padding: 10px;
    margin: 2px;
}